<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$webtitle}</title>
    <meta name="keywords" content="{$webkeywords}" />
    <meta name="description" content="{$webdesc}" />
    <!--加载自定义css样式表-->
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/screen.min.css">
    <!--加载系统jquery库-->
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ec367e174829d7023619742e62b9d201";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>

<body>
    <p id="back-to-top"><a href="#top"><span></span><img src="/static/picture/top.png"></a></p>
    <!-- 单页主体 -->
    <div class="subject" style="height: auto;background-color: #ebebeb">
        <!-- 头部 -->
        <div class="snav">
            <div class="lhjhead">
                <div class="ft"><h3 style="font-size: 24px;color: #fff">{$index1}</h3>
                </div><a href="http://p.qiao.baidu.com/cps/chat?siteId=12834609&userId=18183564" target="_blank"><div class="bt">提前报名 &nbsp;&nbsp;<img src="/static/picture/1.png"></div></a>
            </div>
        </div>
        <div style="clear:both"></div>
        <!-- 导航 -->
        <div class="navigation">
            <div class="nnav">
                <div class="lhja">
                    <a href="http://p.qiao.baidu.com/cps/chat?siteId=12834609&userId=18183564" target="_blank"><img src="/static/picture/{$index2}" style="height: 80px"></a>
                </div>
                <div class="lhjc">
                    <div class="lhjc1">
                        <ul>
                            <li>
                                <a href="/index/index/index">
                  <strong style="display:block;">首页</strong>
                  <span style="display:block;">Home</span>
                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="lhjc2"><img src="/static/picture/3.png"></div>
                        <div class="lhjc1">
                            <ul>
                                <li>
                                    <a href="/index/index/index#a1">
                  <strong style="display:block;">开班信息</strong>
                  <span style="display:block;">Information</span>
                </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lhjc2"><img src="/static/picture/3.png"></div>
                            <div class="lhjc1">
                                <ul>
                                    <li>
                                        <a href="/index/index/index#a3">
                  <strong style="display:block;">师资力量</strong>
                  <span style="display:block;">Teachers</span>
                </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="lhjc2"><img src="/static/picture/3.png"></div>
                                <div class="lhjc1">
                                    <ul>
                                        <li>
                                            <a href="/index/index/index#a6">
                  <strong style="display:block;">学员就业</strong>
                  <span style="display:block;">Students</span>
                </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="lhjc2"><img src="/static/picture/3.png"></div>
                                    <div class="lhjc1">
                                        <ul>
                                            <li>
                                                <a href="/index/index/index#a2">
                  <strong style="display:block;">课程大纲</strong>
                  <span style="display:block;">Courses</span>
                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="lhjc2"><img src="/static/picture/3.png"></div>
                                        <div class="lhjc1">
                                            <ul>
                                                <li>
                                                    <a href="/index/index/article">
                  <strong style="display:block;">学院动态</strong>
                  <span style="display:block;">Institute</span>
                </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="lhjc2"><img src="/static/picture/3.png"></div>
                                            <div class="lhjc1">
                                                <ul>
                                                    <li>
                                                        <a href="#a5">
                  <strong style="display:block;">91论坛</strong>
                  <span style="display:block;">bbs</span>
                </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                                <div class="gs_bottom3" style="height:293px;background-image: url('/static/images/promo_banner_bg_01.jpg')"></div>
                                <div style="clear:both"></div>
                                <br><br><br>
                                <main class="packages-list-container" id="all-packages">
                                    <div class="container">
                                        
                                        <div class="list-group packages col-md-8" id="common-packages">
                                            {volist name='article' id='vo'}
                                            <a href="/index/index/articlelist?id={$vo.id}" class="package list-group-item">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <img src="/static/picture/{$vo.poster}" height="100px" width="133px">
                                                        </div>
                                                        <div class="col-md-9 hidden-xs">
                                                            <h4>{$vo.title}</h4>
                                                            <div style="float: right;font-size: 10px">发表于 {$vo.time}</div>
                                                        </div>
                                                    </div>
                                                </a>
                                            <br>
                                            {/volist}
                                            {$article->render()}
                                        </div>
                                        <aside class="col-md-3 sidebar">
                                            <div class="widget">
                                                <h4 class="title">公众号</h4>
                                                <div class="content community">
                                                    <img src="/static/picture/{$index8.img}" height="200px" width="200px">
                                                </div>
                                            </div>
                                            <div class="widget"><h4 class="title">最新开班时间</h4>
                                                <h5 style="color: red">2018年3月5日 西门子全科班 名额已不多 火热报名中...</h5>
                                            </div>
                                           <div class="widget">
                                                <h4 class="title">最新动态</h4>
                                                {foreach $list as $key=>$vo }

                                                    <a href="/index/index/articlelist?id={$vo.id}" class="btn btn-default btn-block">{$vo.title|mb_substr=0,10}......</a>
                                                {/foreach}
                                            </div>
                                        </aside>
                                        
                                        <div class="list-group packages" id="search-results" style="display: none"></div>
                                    </div>
                                </main>
                                <div style="clear:both"></div>
                                <div class="gs_bottom3">
                                    <div class="left">
                                        <p class="gs_04" style="line-height: 50px;font-size: 15px">{$index8.address}</p>
                                        <p class="gs_05" style="line-height: 50px;font-size: 15px">{$index8.beian}</p>
                                    </div>
                                    <div class="right">
                                        <img src="/static/picture/{$index8.img}" class="gs_img1">
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <script src="/static/js/slider.js"></script>
                            <script type="text/javascript">
                            $(function() {
                                var bannerSlider = new Slider($('#banner_tabs'), {
                                    time: 5000,
                                    delay: 400,
                                    event: 'hover',
                                    auto: true,
                                    mode: 'fade',
                                    controller: $('#bannerCtrl'),
                                    activeControllerCls: 'active'
                                });
                                $('#banner_tabs .flex-prev').click(function() {
                                    bannerSlider.prev()
                                });
                                $('#banner_tabs .flex-next').click(function() {
                                    bannerSlider.next()
                                });
                            })
                            </script>
                            <script>
                            $(function() {
                                $(".hyx_b3").hover(function() {
                                    //alert("12")
                                    $(this).addClass("hyx_b3a");
                                }, function() {
                                    //alert("12")
                                    $(this).removeClass("hyx_b3a");
                                })

                            })
                            </script>
                            <script>
                            $(function() {
                                $(".hyx_a2").hover(function() {
                                    $(this).addClass("hyx_a2a");
                                }, function() {
                                    $(this).removeClass("hyx_a2a");
                                })

                            })
                            </script>
                            <script>
                            $(function() {
                                $(".mouse").mouseover(function() {
                                    $(this).css("border", "1px solid http://p.qiao.baidu.com/cps/chat?siteId=12834609&userId=18183564");
                                    $(this).find(".lhjf21").css("background-color", "#0d97be");
                                }).mouseout(function() {
                                    $(this).css("border", "1px solid http://p.qiao.baidu.com/cps/chat?siteId=12834609&userId=18183564");
                                    $(this).find(".lhjf21").css("background-color", "#f1f1f1");
                                });
                            })
                            </script>
                            <!-- 回到顶部 -->
                            <script>
                            $(function() {
                                //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失  
                                $(function() {
                                    $(window).scroll(function() {
                                        if ($(window).scrollTop() > 100) {
                                            $("#back-to-top").fadeIn(1500);
                                        } else {
                                            $("#back-to-top").fadeOut(1500);
                                        }
                                    });

                                    //当点击跳转链接后，回到页面顶部位置  

                                    $("#back-to-top").click(function() {
                                        $('body,html').animate({ scrollTop: 0 }, 1000);
                                        return false;
                                    });
                                });
                            });
                            </script>
                            <!--<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F997816824610a2a211dc8ab1677ee9b5' type='text/javascript'%3E%3C/script%3E")) </script> -->
</body>

</html>