{include file="index/head" /}
<link rel="stylesheet" type="text/css" href="/static/css/screen.min.css">
<style type="text/css">
    .news-list .article-footer{
        text-align: center;
        border-top: 0;
    }

    .news-list .our-news-item{
        margin: 0;
        border-bottom: 1px solid #c1c1c1;
    }
    .our-news-item h4{
        color: #0ba1e4;
        height: 25px;
    }
</style>
<!-- <link rel="stylesheet" type="text/css" href="/static/css/common.css"> -->
<div class="gs_bottom3" style="height:293px;background-image: url('/static/picture/{$navimg}')"></div>
<div style="clear:both"></div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ol class="breadcrumb" style="margin-top: 10px; margin-bottom: 10px;">
				<li><a href="http://47.106.224.12">首页</a></li>
				<li>学院动态</li>
			</ol>
		</div>
	</div>
</div>
<main class="packages-list-container" id="all-packages">
    <div class="container">
        <div class="col-xs-9 news-list" style="border-right: 1px solid #c0c0c0">
            {volist name='article' id='vo'}
            <div class="media our-news-item">
                <div class="media-left">
                    <a class="thumbnail" href="/index/index/articlelist?id={$vo.id}">
                        <img class="media-object" src="/static/picture/{$vo.poster}">
                    </a>
                </div>
                <div class="media-body">
                    <a href="/index/index/articlelist?id={$vo.id}"><h4 class="media-heading">{$vo.title}</h4></a>
                    <div class="dynamic-li">
                        <b></b><em class="pic-glob"></em><span>时间：{$vo.time} </span>
                    </div>
                    <p>{$vo.text}</p>
                    <div class="dynamic-li">
                        <a href="/index/index/articlelist?id={$vo.id}">[详细]</a>
                    </div>
                </div>
            </div>
            {/volist}
            {$article->render()}
        </div>
        <p class="hidden-xs" id="right-line"></p>
        {include file="index/right" /}
        <div class="list-group packages" id="search-results" style="display: none"></div>
    </div>
</main>
<div style="clear:both"></div>
{include file="index/foot" /}