{include file="index/head" /}
<link rel="stylesheet" type="text/css" href="/static/css/screen.min.css">
<div class="gs_bottom3" style="height:293px;background-image: url('/static/picture/{$navimg}')"></div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb" style="margin-top: 10px; margin-bottom: 10px;">
                <li><a href="http://47.106.224.12">首页</a></li>
                <li>课程大纲</li>
            </ol>
        </div>
    </div>
</div>
<main class="packages-list-container" id="all-packages">
    <div class="container">
        <div class="col-xs-9 blog-main" style="border-right: 1px solid #c0c0c0">
            <div class="blog-post">
                <h2 class="blog-post-title">{$course.title}</h2>
                {$course.editorValue}
            </div>
        </div>
        {include file="index/right" /}
        <div class="list-group packages" id="search-results" style="display: none"></div>
    </div>
</main>
<div style="clear:both"></div>
<script type="text/javascript">
    $("table").addClass("table table-bordered");
</script>
{include file="index/foot" /}