{include file="index/head" /}
<link rel="stylesheet" type="text/css" href="/static/css/screen.min.css">
<div class="gs_bottom3" style="height:293px;background-image: url('/static/picture/promo_banner_bg_01.jpg')"></div>
<div style="clear:both"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb" style="margin-top: 10px; margin-bottom: 10px;">
                <li><a href="http://47.106.224.12">首页</a></li>
                <li>课程大纲</li>
            </ol>
        </div>
    </div>
</div>
<main class="packages-list-container" id="all-packages">
    <div class="container">
        <div class="col-xs-9 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{$course.title}</h2>
                {$course.editorValue}
            </div>
        </div>
        <aside class="col-xs-3 sidebar">
            <div class="widget">
                <h4 class="title">公众号</h4>
                <div class="content community">
                    <img src="/static/picture/{$index8.img}" height="200px" width="200px">
                                                </div>
                </div>
                <div class="widget"><h4 class="title">最新开班时间</h4>
                    <h5 style="color: red">2018年3月5日 西门子全科班 名额已不多 火热报名中...</h5>
                </div>
                <div class="widget">
                    <h4 class="title">最新动态</h4>
                    {foreach $list as $key=>$vo }
                    <a href="/index/index/articlelist?id={$vo.id}" class="btn btn-default btn-block">{$vo.title|mb_substr=0,10}......</a>
                    {/foreach}
                </div>
        </aside>
        <div class="list-group packages" id="search-results" style="display: none"></div>
    </div>
</main>
<div style="clear:both"></div>
<script type="text/javascript">
    $("table").addClass("table table-bordered");
</script>
{include file="index/foot" /}