{include file="index/head" /}
<!-- 轮播图 -->
<div id="banner_tabs" class="flexslider" style="position: relative;">
    <ul class="slides">
        <li style="background-image: url(/static/picture/{$banner1}); background-repeat: no-repeat; background-position: center center; ">
        </li>
        <li style="background-image: url(/static/picture/{$banner2}); background-repeat: no-repeat; background-position: center center; ">
        </li>
        <li style="background-image: url(/static/picture/{$banner3}); background-repeat: no-repeat; background-position: center center; display: none;">
        </li>
        <li style="background-image: url(/static/picture/{$banner4}); background-repeat: no-repeat; background-position: center center; display: none;">
        </li>
    </ul>
    <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="javascript:;">Previous</a></li>
        <li><a class="flex-next" href="javascript:;">Next</a></li>
    </ul>
    <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
        <li><a>1</a></li>
        <li><a>2</a></li>
        <li><a>2</a></li>
        <li><a>2</a></li>
    </ol>
</div>
<div style="clear:both"></div>
<!-- 开班信息 -->
<div class="hyxe">
    <div class="enav">
        <strong class="hyxe1">The Class Infomation</strong>
        <strong class="hyxe2"><a  name="a1">开班信息</a></strong>
        <hr />
        <span>放下你的犹豫和不舍,立即加入工控工程师的行列</span>
    </div>
</div>
<div style="clear:both"></div>
<div class="hyx_a">
    <div class="hyx_a1">
        <!-- 第一个 -->
        <div class="hyx_a2">
            <div class="hyx_a3">
                <strong style="display:block">{$index4.0.classname_zh}</strong>
                <span style="display:block">{$index4.0.classname_en}</span>
            </div>
            <div class="hyx_a4">
                {$index4.0.desc}
            </div>
            <div class="hyx_a5">
                <p>余位不多，速速抢位</p>
            </div>
            <div class="hyx_a6">
                <img src="/static/picture/31.png">
          </div>
                <div class="hyx_a7">
                    <p>报名截止</p>
                </div>
                <div class="hyx_a8">
                    <img src="/static/picture/32.png">
          </div>
                    <div style="clear:both"></div>
                    <div class="hyx_a9">
                        <p>{$index4.0.endtime}</p>
                    </div>
                    <div class="hyx_a10">
                        <a href="http://p.qiao.baidu.com/cps/chat?siteId=12834609&userId=18183564" target="_blank"><p >预约报名</p></a>
                    </div>
                </div>
                <!-- 第二个 -->
                <div class="hyx_a2">
                    <div class="hyx_a3" style="background-color:#ffbc00">
                        <strong style="display:block">{$index4.1.classname_zh}</strong>
                        <span style="display:block">{$index4.1.classname_en}</span>
                    </div>
                    <div class="hyx_a4" style="background-color:#Ffcc4d">
                        {$index4.1.desc}
                    </div>
                    <div class="hyx_a5">
                        <p>提前预约，速速抢位</p>
                    </div>
                    <div class="hyx_a6">
                        <img src="/static/picture/31.png">
          </div>
                        <div class="hyx_a7">
                            <p>报名截止</p>
                        </div>
                        <div class="hyx_a8">
                            <img src="/static/picture/32.png">
          </div>
                            <div style="clear:both"></div>
                            <div class="hyx_a9">
                                <p>{$index4.1.endtime}</p>
                            </div>
                            <div class="hyx_a10">
                                <a href="http://p.qiao.baidu.com/cps/chat?siteId=12834609&userId=18183564" target="_blank"><p style="background-color:#FECC17">预约报名</p></a>
                            </div>
                        </div>
                        <!-- 第三个 -->
                        <div class="hyx_a2">
                            <div class="hyx_a3" style="background-color: #b5c700">
                                <strong style="display:block">{$index4.2.classname_zh}</strong>
                                <span style="display:block">{$index4.2.classname_en}</span>
                            </div>
                            <div class="hyx_a4" style="background-color: #CCDB38;">
                                {$index4.2.desc}
                            </div>
                            <div class="hyx_a5">
                                <p>余位不多，速速抢位</p>
                            </div>
                            <div class="hyx_a6">
                                <img src="/static/picture/31.png">
          </div>
                                <div class="hyx_a7">
                                    <p>报名截止</p>
                                </div>
                                <div class="hyx_a8">
                                    <img src="/static/picture/32.png">
          </div>
                                    <div style="clear:both"></div>
                                    <div class="hyx_a9">
                                        <p>{$index4.2.endtime}</p>
                                    </div>
                                    <div class="hyx_a10">
                                        <a href="http://p.qiao.baidu.com/cps/chat?siteId=12834609&userId=18183564" target="_blank"><p style="background-color:#CCDB38">预约报名</p></a>
                                    </div>
                                </div>
                                <!-- 第四个 -->
                                <div class="hyx_a2">
                                    <div class="hyx_a3" style="background-color:#00AEDD">
                                        <strong style="display:block">{$index4.3.classname_zh}</strong>
                                        <span style="display:block">{$index4.3.classname_en}</span>
                                    </div>
                                    <div class="hyx_a4" style="background-color:#00BFF3">
                                        {$index4.3.desc}
                                    </div>
                                    <div class="hyx_a5">
                                        <p>预约报名，速速抢位</p>
                                    </div>
                                    <div class="hyx_a6">
                                        <img src="/static/picture/31.png">
          </div>
                                        <div class="hyx_a7">
                                            <p>报名截止</p>
                                        </div>
                                        <div class="hyx_a8">
                                            <img src="/static/picture/32.png">
          </div>
                                            <div style="clear:both"></div>
                                            <div class="hyx_a9">
                                                <p>{$index4.3.endtime}</p>
                                            </div>
                                            <div class="hyx_a10">
                                                <a href="http://p.qiao.baidu.com/cps/chat?siteId=12834609&userId=18183564" target="_blank"><p style="background-color:#00BFF3">预约报名</p></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                                <!-- 师资力量 -->
                                <div class="lhjf">
                                    <div class="lhjf1">
                                        <strong class="lhje1">Teachers strength</strong>
                                        <strong class="lhje2"><a name="a2"><a name="a3">师资力量</a></a></strong>
                                        <hr />
                                        <span>多年开发工作经验全给你</span>
                                        {foreach $index5 as $key=>$vo }
                                        <div class="lhjf2 mouse">
                                            <div class="lhjf21"></div>
                                            <div class="lhjf3"><img src="/static/picture/{$vo.img}" class="img-circle"></div>
                                                <strong class="lhjf4" style="display:block;">{$vo.name}</strong>
                                                <p class="lhjf5" style="display:block;">{$vo.desc}</p>
                                            </div>
                                            {/foreach}
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>
                                    <!-- 就业学员 -->
                                    <div class="hyxe">
                                        <div class="enav">
                                            <strong class="hyxe1">Employment Trainees</strong>
                                            <strong class="hyxe2"><a  name="a6">就业学员</a></strong>
                                            <hr />
                                            <span>你还在迷茫,他们却已经从这里启程拥抱整个世界</span>
                                        </div>
                                    </div>
                                    <div class="gallery" id="activities">
                                        <div class="container">
                                            <div class="gallery-main">
                                                <div class="gallery-bott">
                                                    <div class="jx-box" style="padding-bottom:40px;">
                                                        <div class="jiuyet">
                                                            <img src="/static/picture/jy-.png" alt="" />
              </div>
                                                            <div class="jiuye" id="xst">
                                                                <table class="jiuyetb" border="0" cellspacing="0" cellpadding="0">
                                                                    <?php $num = 1; ?>
                                                                    {foreach $index6 as $key=>$vo }
                                                                    <?php $num++;$a=$num%2 ?>
                                                                    <tbody>
                                                                        <tr class="tr{$a}">
                                                                            <td width="120">{$vo.name}</td>
                                                                            <td width="120">{$vo.education}</td>
                                                                            <td width="240">{$vo.job}</td>
                                                                            <td width="360">{$vo.business}</td>
                                                                            <td width="160">{$vo.wages}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                    {/foreach}
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 合作企业 -->
                                        <div style="clear:both"></div>
                                        <div class="hyxe" style="background-color:#fff;">
                                            <div class="enav">
                                                <strong class="hyxe1">Businesses Coopertion</strong>
                                                <strong class="hyxe2"><a  name="a7">合作企业</a></strong>
                                                <hr />
                                                <span class="hyxe3">{$index7['desc']}</span>
                                            </div>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="hyx_c">
                                            <div class="hyx_c1">
                                                <div class="hyx_c2">
                                                    <img src="/static/picture/{$index7.img}">
        </div>
                                                </div>
                                            </div>
                                            <!-- 底部 -->
                                            <div class="gs1">
                                                <div class="gs_bottom1">
                                                    <p class="gs_01" style="display:block;">知识与技能从来都是低投资,高回报</p>
                                                    <p class="gs_02" style="display:block;">We Awlays Try To Create a Difference</p>
                                                    <a href="http://p.qiao.baidu.com/cps/chat?siteId=12834609&userId=18183564" class="gs_03" style="display:block;" target="_blank">了解更多</a>
                                                </div>
                                                <div style="clear:both"></div>
                                                {include file="index/foot" /}
                                                <script type="text/javascript">
                                                function addEventSimple(obj, evt, fn) {
                                                    if (obj.addEventListener) {
                                                        obj.addEventListener(evt, fn, false);
                                                    } else if (obj.attachEvent) {
                                                        obj.attachEvent('on' + evt, fn);
                                                    }
                                                }

                                                addEventSimple(window, 'load', initScrolling);

                                                var scrollingBox;
                                                var scrollingInterval;
                                                var reachedBottom = false;
                                                var bottom;

                                                function initScrolling() {
                                                    scrollingBox = document.getElementById('xst');
                                                    scrollingBox.style.overflow = "hidden";
                                                    scrollingInterval = setInterval("scrolling()", 50);
                                                    scrollingBox.onmouseover = over;
                                                    scrollingBox.onmouseout = out;
                                                }

                                                function scrolling() {
                                                    var origin = scrollingBox.scrollTop++;
                                                    // alert(scrollingBox.scrollTop++);
                                                    if (origin == scrollingBox.scrollTop) {
                                                        if (!reachedBottom) {
                                                            scrollingBox.innerHTML += scrollingBox.innerHTML;
                                                            reachedBottom = true;
                                                            bottom = origin;
                                                        } else {
                                                            scrollingBox.scrollTop = bottom;
                                                        }
                                                    }
                                                }

                                                function over() {
                                                    clearInterval(scrollingInterval);
                                                }

                                                function out() {
                                                    scrollingInterval = setInterval("scrolling()", 50);
                                                }
                                                </script>